<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ArtsxTech Jobs Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic'%>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oswald:400,700,300'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
		  <aside class="left col-xs-6 col-md-3">
				<h1 class="header-title">ARTSxTECH</h1>
				<h4 class="header-subtitle">Arts &amp; Technology Job Board</h4>
				<p>All the best design, technology and digital marketing jobs &mdash; in one place.</p>
				<select name="Job_Function" id="Job_Function">
					<option value="" disabled="disabled" selected="selected">Please select job type</option>
					<option value="">All Jobs</option>
					<option value="">Design</option>
					<option value="">Digital Marketing</option>
					<option value="">Technology</option>
				</select>
				<article>
					<h4>Eligibility</h4>
					<ul>
						<li>The job must be at an arts or cultural organization.</li>
						<li>The main focus of the position should be digital.</li>
						<li>To get the position posted, just tweet at @layne_celeste with details.</li>
					</ul>
				</article>
		  </aside>
		  <section class="right col-xs-12 col-md-9">
				<%= yield %>
		  </section>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
</body>
</html>
