<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ArtsxTech Jobs Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic'%>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oswald:400,700,300'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">
		<div class="fill row">
		  <aside class="left col-xs-12 col-md-3">
				<h1 class="header-title"><a href="/">ARTSxTECH</a></h1>
				<h4 class="header-subtitle">Arts &amp; Technology Job Board</h4>
				<p class="lead">All the best design, digital marketing and technology jobs &mdash; in one place.</p>
				<p style="contact-info">To get a position posted, just tweet at <a style="color: #000;" href="https://twitter.com/layne_celeste">@layne_celeste</a> with details and I'll add you.</p>
				<select name="Job_Function" id="Job_Function">
					<option value="" selected="selected">Please select job type</option>
					<option value="*">All Jobs</option>
					<option value=".Design">Design</option>
					<option value=".Digital">Digital Marketing</option>
					<option value=".Technology">Technology</option>
				</select>

				<article>
					<h4 class="header-subtitle">Eligibility</h4>
					<ul>
						<li>The job must be at an arts or cultural organization.</li>
						<li>The main focus of the position should be digital.</li>
						<!-- <li>To get the position posted, just tweet at <a href="https://twitter.com/layne_celeste">@layne_celeste</a> with details.</li> -->
					</ul>
				</article>

		  	<nav>
		  		<ul class="nav navbar navbar-default main-nav" >
		  			<% if @current_user %>
							<li>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								<span><%= link_to "Add a new job", new_job_path %></span>
							</li>
			  			<li class="dropdown">
			  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
            		</a>
			  			
				  			<ul class="dropdown-menu">
				  				<li><%= link_to "Add Job", new_job_path(@current_user) %></li>
				  				<li><%= link_to "Profile", user_path(@current_user) %></li>
				  				<li><%= link_to "Settings", edit_user_path(@current_user) %></li>
				  				<li class="divider"></li>
				  				<li class="user-buttons"><%= link_to "Log Out", logout_path, method: "delete" %></li>
				  			</ul>
			  			</li>
			  		<% else %>
			  			<li class="user-buttons btn-1"><%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %></li>
			  			<li class="user-buttons btn-1"><%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-primary" %></li>
		  			<% end %>
		  		</ul>
		  	</nav>
		  </aside>

		  <section id="content" class="right col-xs-12 col-md-9">
				
				<% flash.each do |name, msg| %>
					<p>
						<small>	<%= name.capitalize %>: <%= msg %> </small> 
					</p>
				<% end %>

				<%= yield %>
		  </section>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
</body>
</html>
